body {
  background-color: #00bbff;
  height: 1000vh; }

.navbar {
  background-color: #00bbff; }

.navbar-brand {
  color: aliceblue;
  font-size: 30px;
  font-weight: 100;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

.navbar-toggler {
  background-color: aliceblue;
  color: aliceblue; }

.nav-link {
  color: aliceblue;
  font-weight: 100;
  font-size: 20; }

.titulos {
  margin: 10px;
  padding: 30px;
  background-color: aliceblue; }

.titulo {
  font-size: 40px;
  font-weight: 100; }

.tex {
  font-size: 20px;
  font-weight: 200; }
