body {
  background-color: #00bbff;
  height: 1000vh; }

.navbar {
  background-color: white; }

.container-fluid {
  display: flex; }

.img {
  display: flex;
  justify-content: center; }

.co {
  display: flex; }

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #ff8400;
  font-size: 30px;
  font-weight: 100; }

.navbar-brand {
  color: aliceblue;
  font-size: 30px;
  font-weight: 100;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

.navbar-toggler {
  background-color: aliceblue;
  color: aliceblue; }

.nav-link {
  color: black;
  font-weight: 100;
  font-size: 20; }

.titulos {
  margin: 10px;
  padding: 30px;
  background-color: aliceblue; }

.titulo {
  font-size: 40px;
  font-weight: 100; }

.tex {
  font-size: 20px;
  font-weight: 200; }

.mapa {
  margin: 40px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column; }
